---
import HTMLICON from "./icons/Html.astro";
import CSSICON from "./icons/Css.astro";
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import REACTICON from "./icons/React.astro"
import NODEICON from "./icons/NodeJS.astro"
import EXPRESSICON from "./icons/Express.astro"
import MONGOICON from "./icons/Mongo.astro"
import JAVASCRIPTICON from "./icons/JavaScript.astro"
import FIREBASEICON from "./icons/Firebase.astro"
import BOOTSTRAPICON from "./icons/Bootstrap.astro"
import TYPESCRIPTICON from "./icons/TypeScript.astro"
import VITEICON from "./icons/Vite.astro"



const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#FD7355] text-white",
    icon: HTMLICON,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSSICON,
  },
  REACT: {
    name: "React",
    class: "bg-[#1A237E] text-white",
    icon: REACTICON,
  },
  NODE: {
    name: "NodeJS",
    class: "bg-[#00a76a6a] text-white",
    icon: NODEICON,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-[#4b4a4a86] text-white",
    icon: EXPRESSICON
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-[#00ff6e6a] text-white",
    icon: MONGOICON
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#8d9700d0] text-white",
    icon: JAVASCRIPTICON
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#c68e15d0] text-white",
    icon: FIREBASEICON
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#6d0083b9] text-white",
    icon: BOOTSTRAPICON
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: TYPESCRIPTICON
  },
  VITE: {
    name: "Vite",
    class: "bg-[#6c00f0b9] text-white",
    icon: VITEICON
  }
};
const PROJECTS = [
{
    title: "E-commerce Filtering",
    description:
      "Proyecto basado en la creación de un sistema integral de búsqueda y filtrado de comercio electrónico complejos, como intervalos de fechas, opciones de selección múltiple y filtros de intervalo de precios, todo esto utilizando React.",
    link: "https://e-commerce-filtering-p4bo.onrender.com/",
    github: "https://github.com/AbelMachaca/E-Commerce_Filtering",
    image: "/projects/e-commerce-filtering.webp",
    tags: [TAGS.HTML,TAGS.CSS, TAGS.REACT],
  },
{
    title: "Empresas Socias Polo-IT",
    description:
      "Este proyecto busca que las personas que entren a este listado de las empresas socias del Polo-IT puedan conocer brevemente a qué se dedica la empresa y categorías a las que pertenece. Hay filtros en la página para que el usuario pueda filtrar a las empresas según “Producto o Servicio” y Categorías.",
    link: "https://frontend-polo-it.onrender.com/",
    github: "https://github.com/AbelMachaca/Polo-IT-Aceleradora",
    image: "/projects/poloIT.webp",
    tags: [TAGS.CSS,TAGS.JAVASCRIPT, TAGS.REACT, TAGS.NODE, TAGS.EXPRESS, TAGS.MONGO],
  },
  {
 title: "E-commerce TecnoConectados",
 description:
 "Un usuario puede ingresar y navegar por los productos e ir a sus detalles. Desde el detalle se puede ver la descripción, foto y precio e ingresarlo al carrito. Una vez que el carrito tiene al menos un producto, se puede visualizar un listado compacto de la orden con el precio total. Al clickear 'realizar compra' se guarda en la base de datos una orden que tiene todos los productos, la fecha y dar feedback del número de orden.",
 link: "https://tecnoconectados-ecommerce.onrender.com/",
 github: "https://github.com/AbelMachaca/React-Js-Machaca",
 image: "/projects/tecnoConectados.webp",
 tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.CSS, TAGS.BOOTSTRAP, TAGS.FIREBASE, ]
  },
  {
    title: "To - Do",
    description: 
    "Desarrollé un TodoMVC utilizando React, TypeScript y Vite para un rendimiento optimizado. Incluye un linter para TypeScript + React, estilos personalizados, capacidad para listar, borrar y marcar como completados los TODOs, así como filtrar, mostrar el número de TODOs pendientes y borrar todos los completados. Cuenta con un Header interactivo que permite agregar, editar y eliminar TODOs de manera intuitiva.",
    link: "https://todo-react-ts-617g.onrender.com/",
    github: "https://github.com/AbelMachaca/ToDo-React-TS-Vite",
    image: "/projects/toDo.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.VITE]
  },
  {
    title: "La scaloneta",
    description:
      "Mapa con un marker del mundial y markers de donde nacieron los jugadores de la selección. En esta web se consume una API con fetch de la Scaloneta y muestra los datos de los jugadores. Se hardcodea la session persistiendo en localstorage por medio de un input y button.",
    link: "https://abelmachaca.github.io/ProyectoFinalGuayerd/jugadores.html",
    github: "https://github.com/AbelMachaca/ProyectoFinalGuayerd",
    image: "/projects/svgl.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.BOOTSTRAP],
  },
  
];
---

<section class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, tags, image, link, github }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 aspect-video"
          src={image}
          alt={`Captura de pantalla del proyecto ${image} `}
        />
        <footer class="flex gap-x-4 items-end justify-start mt-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Ver código fuente
            </LinkButton>
          )}
          <LinkButton href={link}>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <>
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4" />
                <path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4" />
                <path d="M12.5 3a16.989 16.989 0 0 1 1.828 4" />
                <path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4" />
                <path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4" />
                <path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4" />
                <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4" />
                <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4" />
                <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4" />
              </>
            </svg>
            Ir al sitio web
          </LinkButton>
        </footer>
      </article>
    ))
  }
</section>
