---
import HTMLICON from "./icons/Html.astro"
import CSSICON from "./icons/Css.astro"
const TAGS = {
   HTML: {
    name: "HTML",
    class: "bg-[#FD7355] text-white",
    icon: HTMLICON
  },
   CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSSICON
   }
};
const PROJECTS = [
  {
    title: "La scaloneta",
    description:
      "Mapa con un marker del mundial y markers de donde nacieron los jugadores de la selección. En esta web se consume una API con fetch de la Scaloneta y muestra los datos de los jugadores. Se hardcodea la session persistiendo en localstorage por medio de un input y button.",
    link: "https://abelmachaca.github.io/ProyectoFinalGuayerd/jugadores.html",
    github: "https://github.com/AbelMachaca/ProyectoFinalGuayerd",
    image: "/projects/svgl.webp",
    tags: [ TAGS.HTML , TAGS.CSS],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li> 
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4" />
                {tag.name}
            </span>
         </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image} `}
      />
    </article>
  ))
}
